<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Archive\ArchiveInterface"
                type="Ronangr1\CmsImportExport\Model\Archive\Zip"/>
</config>
