.cmsimportexport-page-import, .cmsimportexport-block-import {
    .admin__field {
        margin-bottom: 16px;
    }

    .admin__actions {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}
