<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1. All rights reserved.
 * See LICENCE file for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cmsimportexport" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Cms Import Export</label>
            <tab>ronangr1</tab>
            <resource>Ronangr1_CmsImportExport::config_system</resource>
            <group id="general" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="allow_overwrite" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Overwrite</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>cmsimportexport/general/allow_overwrite</config_path>
                </field>
            </group>
            <group id="media" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Media</label>
                <field id="allow_download" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Media Download</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>cmsimportexport/media/allow_download</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
